<%- include('../adminlayout/adminheader.ejs') %>
<h1>Update product</h1>

<div class="container-fluid">

    <form action="/admin/edit-produt/<%= product._id %>" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Product Name:</label>
                            <input type="text" class="form-control" id="name" name="product" value="<%= product.name %>" required>
                        </div>
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select class="form-control" id="category" name="category" required>
                                <option value="" disabled>Select a category</option>
                                <% categories.forEach(category => { %>

                                    <option value="<%= category._id %>" <%= product.category === category.name ? 'selected' : '' %>><%= category.name %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subCategory">Subcategory:</label>
                            <select class="form-control" id="subCategory" name="subCategory" required>
                                <option value="<%= product.subCategory %>" disabled selected><%= product.subCategory %></option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="brand">Brand:</label>
                            <select class="form-control" id="brand" name="brand" required>
                                <option value="" disabled>Select a brand</option>
                                <% brands.forEach(brand => { %>
                                    <option value="<%= brand._id %>" <%= product.brand === brand.name ? 'selected' : '' %>><%= brand.name %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>" required>
                          </div>
              
                          
                          <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" name="description" required><%= product.description %></textarea>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card "> 
                   <div class="card-body">
                       <div class="form-group">
                           <!-- <label for="image">Product Images:</label> -->
                           <input type="hidden" multiple class="form-control-file" id="image" name="image" accept="image/*" required>
                       </div>
                       
                       
       
                       <div class="form-group size-section mt-4">
                           <label for="size">Size:</label>
                           <label>
                            <input type="checkbox" name="selectedSizes" value="S" <%= product.size && product.size.S ? 'checked' : '' %>> S
                            <input type="number" <%= product.size && product.size.S ? '' : 'disabled' %> class="sizeInput" id="sizeInputS" name="UnitS" value="<%= product.size && product.size.S ? product.size.S : 'Unit' %>" data-size="S">
                        </label>
                        <label>
                            <input type="checkbox" name="selectedSizes" value="M" <%= product.size && product.size.M ? 'checked' : '' %>> M
                            <input type="number" <%= product.size && product.size.M ? '' : 'disabled' %> class="sizeInput" id="sizeInputM" name="UnitM" value="<%= product.size && product.size.M ? product.size.M : 'Unit' %>" data-size="M">
                        </label>
                        <label>
                            <input type="checkbox" name="selectedSizes" value="L" <%= product.size && product.size.L ? 'checked' : '' %>> L
                            <input type="number" <%= product.size && product.size.L ? '' : 'disabled' %> class="sizeInput" id="sizeInputL" name="UnitL" value="<%= product.size && product.size.L ? product.size.L : 'Unit' %>" data-size="L">
                        </label>
                        <label>
                            <input type="checkbox" name="selectedSizes" value="XL" <%= product.size && product.size.XL ? 'checked' : '' %>> XL
                            <input type="number" <%= product.size && product.size.XL ? '' : 'disabled' %> class="sizeInput" id="sizeInputXL" name="UnitXL" value="<%= product.size && product.size.XL ? product.size.XL : 'Unit' %>" data-size="XL">
                        </label>
                        <label>
                            <input type="checkbox" name="selectedSizes" value="XXL" <%= product.size && product.size.XXL ? 'checked' : '' %>> XXL
                            <input type="number" <%= product.size && product.size.XXL ? '' : 'disabled' %> class="sizeInput" id="sizeInputXXL" name="UnitXXL" value="<%= product.size && product.size.XXL ? product.size.XXL : 'Unit' %>" data-size="XXL">
                        </label>
                           
                       </div>
       
                       
                       <div class="form-group foot-size-section mt-4">
                           <label for="footSize">Foot Size:</label>
                           <label>
                            <input type="checkbox" name="selectedFootSizes" value="US5" <%= product.size && product.size.US5 ? 'checked' : '' %>> US 5
                            <input type="number" <%= product.size && product.size.US5 ? '' : 'disabled' %> class="sizeInput" id="sizeInputUS5" name="UnitUs5" value="<%= product.size && product.size.US5 ? product.size.US5 : 'Unit' %>">
                        </label>
                        <label>
                            <input type="checkbox" name="selectedFootSizes" value="US6" <%= product.size && product.size.US6 ? 'checked' : '' %>> US 6
                            <input type="number" <%= product.size && product.size.US6 ? '' : 'disabled' %> class="sizeInput" id="sizeInputUS6" name="UnitUs6" value="<%= product.size && product.size.US6 ? product.size.US6 : 'Unit' %>">
                        </label>
                    
                        <label>
                            <input type="checkbox" name="selectedFootSizes" value="US7" <%= product.size && product.size.US7 ? 'checked' : '' %>> US 7
                            <input type="number" <%= product.size && product.size.US7 ? '' : 'disabled' %> class="sizeInput" id="sizeInputUS7" name="UnitUs7" value="<%= product.size && product.size.US7 ? product.size.US7 : 'Unit' %>">
                        </label>
                        <label>
                            <input type="checkbox" name="selectedFootSizes" value="US8" <%= product.size && product.size.US8 ? 'checked' : '' %>> US 8
                            <input type="number" <%= product.size && product.size.US8 ? '' : 'disabled' %> class="sizeInput" id="sizeInputUS8" name="UnitUs8" value="<%= product.size && product.size.US8 ? product.size.US8 : 'Unit' %>">
                        </label>
                    
                           <label>
                            <input type="checkbox" name="selectedFootSizes" value="US9" <%= product.size && product.size.US9 ? 'checked' : '' %>> US 9
                            <input type="number" <%= product.size && product.size.US9 ? '' : 'disabled' %> class="sizeInput" id="sizeInputUS9" name="UnitUs9" value="<%= product.size && product.size.US9 ? product.size.US9 : 'Unit' %>">
                           </label>
                    </div>
                     
                    <div class="mt-4">
                       <label for="totalStock">Total Stock:</label>
                       <input type="number" id="totalStock" name="stock" value="0" readonly>
                   </div>
       
                   <div id="imagePreviews" class="image-previews">
                     
                   </div>
                   
                   
                    <div class="mt-3">
                       <button type="submit" class="btn btn-primary">Update product</button>
                    </div>
                </div>
               </div>
               </div>
        </div>
    </form>

</div>
<script>
     
     document.addEventListener('DOMContentLoaded', function () {
       
        document.getElementById("category").dispatchEvent(new Event("change"));
    });
    const imageInput = document.getElementById('image');
        const imagePreviews = document.getElementById('imagePreviews');
    
        imageInput.addEventListener('change', function () {
         imagePreviews.innerHTML = '';
    
            // Loop through the selected files and display them as image previews.
            for (const file of imageInput.files) {
                if (file.type.startsWith('image/')) {
                    const img = document.createElement('img');
                    img.className = 'preview-image';
                    img.src = URL.createObjectURL(file);
                    imagePreviews.appendChild(img);
                }
            }
        });
        function enableQuantityInput(checkbox, size) {
            const quantityInput = document.getElementById(`sizeInput${size}`);
            quantityInput.disabled = !checkbox.checked;
            if (!checkbox.checked) {
                quantityInput.value = '';
            }
            calculateTotalStock();
        }
    
        document.getElementById("category").addEventListener("change", function () {
            var categoryId = this.value;
            var subCategoryDropdown = document.getElementById("subCategory");
            var sizeSection = document.querySelector(".size-section");
            var footSizeSection = document.querySelector(".foot-size-section");
    
            subCategoryDropdown.innerHTML = '<option value="" disabled selected>Select a subcategory</option>';
    
            if (categoryId) {
                fetch(`/admin/get-subcategories/${categoryId}`)
                    .then(response => response.json())
                    .then(data => {
                        data.subcategories.forEach(subcategory => {
                            var option = document.createElement("option");
                            option.value = subcategory;
                            option.text = subcategory;
                            subCategoryDropdown.appendChild(option);
                        });
    
                        if (categoryId === '653022856c4a00915ad53fb1') {
                            sizeSection.style.display = 'none';
                            footSizeSection.style.display = 'block';
                        } else if (categoryId === '652e7780a10d6a0f5723e0e2') {
                            sizeSection.style.display = 'block';
                            footSizeSection.style.display = 'none';
                        } else {
                            sizeSection.style.display = 'none';
                            footSizeSection.style.display = 'none';
                        }
                    });
            }
        });
    
        function calculateTotalStock() {
            const sizeInputs = document.querySelectorAll(".sizeInput");
            let totalStock = 0;
            sizeInputs.forEach(input => {
                const size = input.dataset.size;
                const quantity = parseInt(input.value);
                if (!isNaN(quantity) && quantity >= 0 && !input.disabled) {
                    totalStock += quantity;
                }
            });
    
            const totalStockInput = document.getElementById("totalStock");
            totalStockInput.value = totalStock;
        }
    
        const sizeInputs = document.querySelectorAll(".sizeInput");
        sizeInputs.forEach(input => {
            input.addEventListener("input", calculateTotalStock);
        });
    
        const sizeCheckboxes = document.querySelectorAll("input[name='selectedSizes']");
        sizeCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                const size = this.value;
                enableQuantityInput(this, size);
            });
        });
    
        const footSizeCheckboxes = document.querySelectorAll("input[name='selectedFootSizes']");
        footSizeCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                const footSize = this.value;
                enableQuantityInput(this, footSize);
            });
        });
    
        calculateTotalStock();
    </script>
    
<%- include('../adminlayout/adminfooter.ejs') %>